body {background-color:#a5eaff;
}
background-image: url(images/tile.png);
}
	a {color:#8c0404}
	a:hover{color:#de96f2}
h1 {color: white;
	text-align: center;
}
h2 {color: white;
	text-align: center;
}

