body {background-color:#a5eaff;
}
background-image: url(images/tile.png);
}
	a {color:#8c0404}
	a:hover{color:#de96f2}
h1 {color: white;
	text-align: center; 
	font-family: "satisfy", serif;
}
h2 {color: white;
	text-align: center;
	font-family: "satisfy", serif;
}
div.char.floating-box{
    float: left;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21; 
}
li.menu {
	display: inline;
}
li {
	float: left;
}
img.https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQD4qReXxKdsE9pUvNzIIHNWL7GxD8ldcZ884Z8nLvzgHkT8KFK{
	display: block;
	margin: auto;
	width: 75px;
	height: 75px;
}
img.https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRWWF7lV_wzIfTGHpS6zxN5vtskWdI3ji-GDaecrIesCnBUY7KGyg{
	display: block;
	margin: auto;
	width: 75px;
	height: 75px;
}
img.https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRW3c2otvjBwaP2TkqtUdWgQewokridlV6LLi5lNaqIyyGZNxGq{
	display: block;
	margin: auto;
	width: 75px;
	height: 75px;
}
